<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <h3 class="text-center mb-4">Go ahead</h3>

      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="p-4 bg-light rounded shadow-sm">

        <div *ngIf="errorMessage" class="alert alert-danger mb-3">
          {{ errorMessage }}
        </div>

        <div class="mb-3">
          <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && formControls['email'].errors }" />
          <div *ngIf="submitted && formControls['email'].errors" class="invalid-feedback">
            <div *ngIf="formControls['email'].errors?.['required']">Email is required</div>
            <div *ngIf="formControls['email'].errors?.['email']">Enter a valid email</div>
          </div>
        </div>

        <div class="mb-3">
          <input type="password" id="password" class="form-control" placeholder="Password" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && formControls['password'].errors }" />
          <div *ngIf="submitted && formControls['password'].errors" class="invalid-feedback">
            <div *ngIf="formControls['password'].errors?.['required']">Password is required</div>
            <div *ngIf="formControls['password'].errors?.['minlength']">Minimum 6 characters</div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-3">Register</button>
        <div class="text-center">
          <a routerLink="/login" class="btn btn-outline-secondary">Already have an account? Login</a>
        </div>
      </form>
    </div>
  </div>
</div>